#háttérkép {
    background-image: url("kepek/Albert\ Einstein.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background-color: gray;
    color: white;
}

nav {
    font-weight: bold;
}

nav :hover {
    cursor: pointer;
    color: darkblue;
}

#bevezető {
    background-color: white;
}

.row div {
    padding: 20px 20px 10px 10px;
    width: 400px;
    margin: auto;
    background-color: white;
    opacity: 75%;
    color: black;
    height: 600px;
    margin: 50px;
}

h1, h2 {
    font-weight: bold;
}

#nagysag {
    width: 500px;
    height: 500px;
    float: right;
}

.row div a {
    color: black;
}
.szemelyisege{
    padding: 20px 20px 10px 10px;
    width: 1800px;
    margin: auto;
    background-color: white;
    opacity: 85%;
    color: black;
    height: 1800px;
    margin: 50px;
}

#hatterkep1 {
    background-image: url("kepek/einsteinhatterkep1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#Képek {
    position: center;
}