#háttérkép {
    background-image: url("kepek/Albert\ Einstein.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background-color: gray;
    color: white;
}

nav {
    font-weight: bold;
}

nav :hover {
    cursor: pointer;
    color: darkblue;
}

#bevezető {
    background-color: white;
}

p {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
    background-color: white;
    opacity: 75%;
    color: black;
}