#háttérkép {
    background-image: url("Albert\ Einstein.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background-color: gray;
    color: white;
}

nav {
    font-weight: bold;
}

nav :hover {
    cursor: pointer;
    color: darkblue;
}